{% assign items = site.news | sort: 'date' | reverse %}
<ul class="news-list">
  {% for item in items %}
    <li class="news-item">
      <time class="news-date" datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date | date: '%b %Y' }}</time>
      <div class="news-body">
        {% if item.category %}<span class="badge">{{ item.category }}</span>{% endif %}
        <span class="news-title">{{ item.title }}</span>
      </div>
    </li>
  {% else %}
    <li class="news-item empty">No news items yet. Add Markdown files to <code>_news/</code>.</li>
  {% endfor %}
</ul>
